# Entorno virtual
.env/

# Cache
portfolio/portfolio/settings.py
portfolio/portfolio/__pycache__/
portfolio/apps/core/__pycache__/
portfolio/apps/./__pycache__/


__pycache__/

# Media
media/

# Data bases files
portfolio/db.sqlite3

# Migrations folders
portfolio/apps/portfolio_/migrations/
portfolio/apps/about/migrations/
