<!DOCTYPE html>
<html lang="en-us">

    <head>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <!-- Title-->
        <title>{% block title %} Developer {% endblock%} | Jhon Quintero</title> 

        {% load static %}
        <!-- Description-->
        <meta name="description" content="Personal Portfolio Template">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicons-->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/img/favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/img/favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/img/favicons/favicon-16x16.png' %}">
        <!-- Web fonts-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;display=swap" rel="stylesheet">
        <!-- CSS vendors-->
        <link rel="stylesheet" href="{% static 'core/css/bootstrap-custom.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/ionicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/tiny-slider.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/lity.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/simplebar.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/jquery.mb.YTPlayer.min.css' %}">
        <!-- Main CSS-->
        <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
        <!-- CSS Color scheme-->
        <link id="color-scheme" rel="stylesheet" href="{% static 'core/css/colors/main-darkgreen.css' %}">
        <!-- Custom CSS (Add your custom CSS styles to this file)-->
        <link rel="stylesheet" href="{% static 'core/css/custom.css' %}">

        <!-- recaptcha -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                                                                  crossorigin="anonymous"></script>
        <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
    </head>

    <body class="theme-dark">
        <!-- Preloader-->
        <div class="preloader">
            <div class="preloader-block">
                <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
            </div>
        </div>
        <div id="overlay-effect"></div>
        <!-- Navbar-->
        <nav class="navbar-expand-md navbar fixed-top" id="navbar">
            <a class="navbar-brand img_logo" data-scroll="" href="#home-area">
                <!-- Navbar Logo-->
                <img class="img-fluid" src="{% static 'core/img/linux-client-512.png' %}" alt="Logo"></a>
            <span class="navbar-menu ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="button"><span class="btn-line"></span></span>
            <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
                <!-- Navbar menu-->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#resume">Resume</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>

        <!-- Home-->
        {% include "core/home.html" %}

        <!-- About lightbox-->
        {% include "about/about.html" %} 

        <!-- Resume lightbox-->
        {% include "resume/resume.html" %} 

        <!-- Portfolio lightbox-->
        {% include "portfolio_/portfolio.html" %} 

        <!-- Blog lightbox-->
        {% include "blog/blog.html" %} 

        <!-- Contact lightbox-->
        {% include "contact/contact.html" %} 

        <!-- Scripts-->
        <script src="{% static 'core/js/jquery.min.js' %}" ></script>
        <script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'core/js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'core/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'core/js/animatedModal.js' %}"></script>
        <script src="{% static 'core/js/tiny-slider.js' %}"></script>
        <script src="{% static 'core/js/lity.min.js' %}"></script>
        <script src="{% static 'core/js/simplebar.min.js' %}"></script>
        <script src="{% static 'core/js/jquery.mb.YTPlayer.min.js' %}"></script>
        <script src="{% static 'core/js/main.js' %}"></script>
        <!-- Custom JS (Add your custom JS scripts to this file)-->
        <script src="{% static 'core/js/custom.js' %}"></script>
    </body>

</html>
