{% load static %}
<!-- Home-->
<section class="home-area element-cover-bg" id="home" style="background-image:url({% static 'core/img/home.jpg' %})">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-lg-8 home-content text-center">
                <h1 class="home-name">Jhon Fredy <span>Quintero </span></h1>
                <h4 class="cd-headline clip home-headline">I’m a <span class="cd-words-wrapper single-headline"><b class="is-visible">Software Developer</b><b>Freelancer</b></span></h4>
            </div>
        </div>
    </div>
    <div class="fixed-wrapper">
        <!-- Languages list-->
        <div class="fixed-block block-left">
            <ul class="list-unstyled languages-list">
                <li><a href="#0"><span class="single-language">ENG</span></a></li>
            </ul>
        </div>
        <!-- Social media icons-->
        <div class="fixed-block block-right">
            <ul class="list-unstyled social-icons">
                {% for sn in social_networks %}
                    <li><a href="{{ sn.link }}" title="{{ sn.name }}"><i class="icon {{ sn.class_name }} "></i></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

