{% load static %}
<!-- Blog lightbox-->
<div class="lightbox-wrapper" id="blog" data-simplebar>
    <div class="container">
        <div class="lightbox-close">
            <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="lightbox-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading page-heading">
                                <p class="section-description">Check out my latest blog posts</p>
                                <h2 class="section-title">My Blog</h2>
                                <div class="animated-bar"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Blog section-->
                    <div class="blog-section single-section">
                        <div class="row justify-content-center">
                            <!-- Single post-->
                            <div class="col-12 col-sm-8 col-lg-4">
                                <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="{% static 'core/img/post-1.jpg' %}" alt="Blog post"><span class="content-date">11 Dec, 20</span></a>
                                    <div class="card-body post-content"><a href="#0">
                                            <h5 class="card-title content-title">Top tools for Photographers</h5>
                                        </a>
                                        <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single post-->
                            <div class="col-12 col-sm-8 col-lg-4">
                                <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="{% static 'core/img/post-2.jpg' %}" alt="Blog post"><span class="content-date">12 Aug, 20</span></a>
                                    <div class="card-body post-content"><a href="#0">
                                            <h5 class="card-title content-title">Take a tour of my office</h5>
                                        </a>
                                        <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single post-->
                            <div class="col-12 col-sm-8 col-lg-4">
                                <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="{% static 'core/img/post-3.jpg' %}" alt="Blog post"><span class="content-date">4 Feb, 20</span></a>
                                    <div class="card-body post-content"><a href="#0">
                                            <h5 class="card-title content-title">How i became a Web Designer</h5>
                                        </a>
                                        <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                                    </div>
                                </div>
                            </div><!-- Single post-->
                            <div class="col-12 col-sm-8 col-lg-4">
                                <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="{% static 'core/img/post-4.jpg' %}" alt="Blog post"><span class="content-date">11 Dec, 19</span></a>
                                    <div class="card-body post-content"><a href="#0">
                                            <h5 class="card-title content-title">How to improve work performance</h5>
                                        </a>
                                        <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single post-->
                            <div class="col-12 col-sm-8 col-lg-4">
                                <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="{% static 'core/img/post-5.jpg' %}" alt="Blog post"><span class="content-date">15 Nov, 19</span></a>
                                    <div class="card-body post-content"><a href="#0">
                                            <h5 class="card-title content-title">How to work from home</h5>
                                        </a>
                                        <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single post-->
                            <div class="col-12 col-sm-8 col-lg-4">
                                <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="{% static 'core/img/post-6.jpg' %}" alt="Blog post"><span class="content-date">8 Aug, 19</span></a>
                                    <div class="card-body post-content"><a href="#0">
                                            <h5 class="card-title content-title">How to enjoy your business trip</h5>
                                        </a>
                                        <p class="card-text content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro rem quod illo quam, eum alias id, repellendus magni, quas.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

