{% load static %}

<!-- Portfolio lightbox-->
<div class="lightbox-wrapper" id="portfolio" data-simplebar>
    <div class="container">
        <div class="lightbox-close">
            <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="lightbox-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading page-heading">
                                <p class="section-description">Showcasing some of my best work</p>
                                <h2 class="section-title">Portfolio</h2>

        {{ projects }}
                                <div class="animated-bar"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio section-->
                    <div class="portfolio-section single-section">
                        <div class="row">
                            <!-- Filter nav-->
                            <div class="col-12">
                                <ul class="list-inline filter-control" role="group" aria-label="Filter Control">
                                    <li class="list-inline-item tab-active" data-filter="*">All</li>
                                    <li class="list-inline-item" data-filter=".brand">Brand</li>
                                    <li class="list-inline-item" data-filter=".design">Design</li>
                                    <li class="list-inline-item" data-filter=".photos">Photos</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Thumbnail list-->
                        <div class="portfolio-grid row">
                            <!-- Single item-->
                            <div class="single-item col-6 col-lg-4 design">
                                <a class="portfolio-item" href="{% static 'core/img/item-1.jpg' %}" data-lightbox>
                                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="{% static 'core/img/item-1.jpg' %}">
                                        <div class="item-content">
                                            <h6 class="content-title">Label Tag Mockup</h6><span class="content-more">More Info</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Single item-->
                            <div class="single-item col-6 col-lg-4 photos">
                                <a class="portfolio-item" href="{% static 'core/img/item-2.jpg' %}" data-lightbox>
                                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="{% static 'core/img/item-2.jpg' %}">
                                        <div class="item-content">
                                            <h6 class="content-title">3D Bag Mockup</h6><span class="content-more">More Info</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Single item-->
                            <div class="single-item col-6 col-lg-4 design">
                                <a class="portfolio-item" href="{% static 'core/img/item-3.jpg' %}" data-lightbox>
                                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="{% static 'core/img/item-3.jpg' %}">
                                        <div class="item-content">
                                            <h6 class="content-title">Modern Bag Design</h6><span class="content-more">More Info</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Single item-->
                            <div class="single-item col-6 col-lg-4 brand">
                                <a class="portfolio-item" href="{% static 'core/img/item-4.jpg' %}" data-lightbox>
                                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="{% static 'core/img/item-4.jpg' %}">
                                        <div class="item-content">
                                            <h6 class="content-title">Coffee Cup Design</h6><span class="content-more">More Info</span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <!-- Single item-->
                            <div class="single-item col-6 col-lg-4 brand">
                                <a class="portfolio-item" href="{% static 'core/img/item-5.jpg' %}" data-lightbox>
                                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="{% static 'core/img/item-5.jpg' %}">
                                        <div class="item-content">
                                            <h6 class="content-title">T-Shirt Design</h6><span class="content-more">More Info</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Single item-->
                            <div class="single-item col-6 col-lg-4 photos">
                                <a class="portfolio-item" href="{% static 'core/img/item-6.jpg' %}" data-lightbox>
                                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="{% static 'core/img/item-6.jpg' %}">
                                        <div class="item-content">
                                            <h6 class="content-title">Packaging Box Mockup</h6><span class="content-more">More Info</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
