{% load static %}
<!-- Portfolio lightbox-->
<div class="lightbox-wrapper" id="portfolio" data-simplebar>
    <div class="container">
        <div class="lightbox-close">
            <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="lightbox-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading page-heading">
                                <p class="section-description">Showcasing some of my best work</p>
                                <h2 class="section-title">Portfolio</h2>
                                <div class="animated-bar"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio section-->
                    <div class="portfolio-section single-section">
                        <div class="row">
                            <!-- Filter nav-->
                            <div class="col-12">
                                <ul class="list-inline filter-control" role="group" aria-label="Filter Control">
                                    <li class="list-inline-item tab-active" data-filter="*">All</li>
                                    <!-- list type portfolio-->
                                    {% for item in types_project %}
                                        <li class="list-inline-item" data-filter=".{{ item.id }}">{{ item.title }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- Projects list-->
                        <div class="portfolio-grid row">
                            <!-- Single item-->
                            {% for item in projects %}
                                <div class="single-item col-6 col-lg-4 {{ item.type_project.id }}">
                                    <a class="portfolio-item" href="{{ item.image.url }}" data-lightbox>
                                        <div class="portfolio-wrapper"><img class="img-fluid rounded mx-auto d-block img_portfolio text-center" alt="Item" src="{{ item.image.url }}">
                                            <div class="item-content">
                                                <h6 class="content-title">{{ item.title }}</h6><span class="content-more">{{ item.description }}</span>
                                                {% if item.source_code != '' %}
                                                    <!-- Social media icons-->
                                                    <div class="fixed-block">
                                                        <a href="{{ item.source_code }}" title="{{ item.title }}" target='_blank' class='content-title'>
                                                            <h4><i class="icon ion-logo-github"></i></h4>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
